**1. Basic print statement**

In [1]:
print('Welcome to Python Programming!')

Welcome to Python Programming!

**2. Variables and data types**

In [6]:
name = str('Athirah')
age = int(22)
height = float(1.50)

print(name)
print(age)
print(height)

Athirah
22
1.5

**3. Basic arithmetics operations**

In [47]:
first_number = int(input('Enter first number: '))
second_number = int(input('Enter second number: '))

sum = first_number + second_number
difference = first_number - second_number
product = first_number*second_number
quotient = first_number/second_number

print('\nSum: ', sum)
print('Difference: ', difference)
print('Product: ', product)
print('Quotient: ', quotient)

Enter first number: 7
Enter second number: 4

Sum:  11
Difference:  3
Product:  28
Quotient:  1.75

**4. User input & string formatting**

In [27]:
name = str(input('Enter your name: '))
birth_year = int(input('Enter your birth year: '))
current_year = int(2025)
age = current_year - birth_year

print('\nHello', name, ', you are ' + str(age) + ' years old.')

Enter your name: zhen
Enter your birth year: 2003
Hello zhen , you are 22 years old.

**5. Conditional statements**

In [33]:
x = int(input('Enter a number: '))
if x % 3 == 0:
  if x % 5 == 0:
    print(x, 'is divisible by both 3 and 5')
  else:
    print(x, 'is not divisible by both 3 and 5')

Enter a number: 15
15 is divisible by both 3 and 5

**6. For loop**

In [50]:
for x in range(1, 21):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

**7. While loop**

In [43]:
while x >= 1:
  x = int(input('Enter a number: '))
print('Loop ended.')

Enter a number: 4
Enter a number: 3
Enter a number: 1
Enter a number: -3
Loop ended.

**8. Simple function**

In [44]:
def multiply_by_two(x):
  return x*2

result = multiply_by_two(7)
print(result)

14