<a href="https://colab.research.google.com/github/athirah02/python_lesson/blob/main/lab2_quiz1_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
list = ['apple', 'banana', 'kiwi', 'cherry']
#0 1 2 3
#-4 -3 -2 -1

print(list[2])
print(list[1:2])
print(list[:3])
print(list[-3:-1])

#change list
list[1] = 'orange'
print(list)

#change range
list[1:2] =['berry', 'melon']
print(list)

print('----')
for c in list:
  print(list)

print('----')
if 'apple' in list:
  print('yes')

print('----')
print(len(list))

print('----')
#add new element at the end of the list
list.append('orange')
print(list)

print('----')
#add at any position specified
list.insert(2, 'banana')
print(list)

print('----')
list.remove('cherry')
print(list)

print('----')
#remove specified index or last item
list.pop()
print(list)

print('----')
#delete specified index
del list[2]
print(list)

print('----')
#clear empties the list
list.clear()
print(list)


#copy list
list = ['apple', 'banana', 'kiwi', 'cherry']
copy_list = list.copy()
print(copy_list)

print('----')
list1 = ['1']
list2 = ['2']
list3 = list1 + list2
print(list3)

print('----')
for x in list2:
  list1.append(x)
print(list1)

print('----')
list1.extend(list2)
print(list1)

kiwi
['banana']
['apple', 'banana', 'kiwi']
['banana', 'kiwi']
['apple', 'orange', 'kiwi', 'cherry']
['apple', 'berry', 'melon', 'kiwi', 'cherry']
----
['apple', 'berry', 'melon', 'kiwi', 'cherry']
['apple', 'berry', 'melon', 'kiwi', 'cherry']
['apple', 'berry', 'melon', 'kiwi', 'cherry']
['apple', 'berry', 'melon', 'kiwi', 'cherry']
['apple', 'berry', 'melon', 'kiwi', 'cherry']
----
yes
----
5
----
['apple', 'berry', 'melon', 'kiwi', 'cherry', 'orange']
----
['apple', 'berry', 'banana', 'melon', 'kiwi', 'cherry', 'orange']
----
['apple', 'berry', 'banana', 'melon', 'kiwi', 'orange']
----
['apple', 'berry', 'banana', 'melon', 'kiwi']
----
['apple', 'berry', 'melon', 'kiwi']
----
[]
['apple', 'banana', 'kiwi', 'cherry']
----
['1', '2']
----
['1', '2']
----
['1', '2', '2']

In [16]:
list = ['apple', 'banana', 'kiwi', 'cherry']
print(list[1])

banana

In [17]:
list = ['apple', 'banana', 'kiwi', 'cherry']
list[0] = 'kiwi'
print(list)

['kiwi', 'banana', 'kiwi', 'cherry']

In [19]:
#3,4,5 element
fruits = ['apple', 'banana', 'kiwi', 'cherry', 'berry', 'pop']
print(fruits[2:5])

['kiwi', 'cherry', 'berry']

**tuple**

In [29]:
tup = ('apple', 'banana', 'berry', 'orange')
print(tup)
print(tup[-1])
print(tup[1:3])
print(tup)

print('update tuple')

print('loop')
for z in tup:
  print(z)

print('\n')
for i in range(len(tup)):
  print(tup[i])

('apple', 'banana', 'berry', 'orange')
orange
('banana', 'berry')
('apple', 'banana', 'berry', 'orange')
update tuple
loop
apple
banana
berry
orange


apple
banana
berry
orange

# **Quiz**

**Question 1**

* Use string methods to remove extra spaces

In [31]:
ucapan = "  salam, eid mubarak! happy holidays!  "

x = ucapan.strip()
print(x)

salam, eid mubarak! happy holidays!

* Use a for loop to print each word on a new line with its first letter capitalized.

In [44]:
ucapan = "  salam, eid mubarak! happy holidays!  "

for word in ucapan.split():
  print(word.title())

Salam,
Eid
Mubarak!
Happy
Holidays!

**Question 2**

* Use a while loop to allow multiple guesses.
* If the user enters a number outside the valid range (1-10), print "Out of
range! Try again." and continue to ask for another guess.
* If the guess is correct, print "Congratulations! You guessed it right." and break the loop.
* Otherwise, print "Wrong guess, try again." and continue.

In [23]:
while True:
    number = int(input("Guess the number (1-10): "))

    if number < 1 or number > 10:
        print("Out of range! Try again.\n")
        continue
    elif number == 2:
        print("Congratulations! You guessed it right.")
        break
    else:
        print("Wrong guess, Try again.\n")
        continue

Guess the number (1-10): 3
Wrong guess, Try again.

Guess the number (1-10): 22
Out of range! Try again.

Guess the number (1-10): 2
Congratulations! You guessed it right.