<a href="https://colab.research.google.com/github/athirah02/python_lesson/blob/main/lab5_week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1 : Print each key and value in a loop**

In [33]:
student_data = {
    "name" : "Alice",
    "age" : 21,
    "grades" : [88, 92, 79],
    "major" : "Computer Science"
}

for x,y in student_data.items() :
  print(x, ':', y)

name : Alice
age : 21
grades : [88, 92, 79]
major : Computer Science

**Task 2 : Modify dictionary**
* Add a new key "GPA" with the value 3.6
* Update "age" to 22
* Print the updated dictionary

In [34]:
student_data = {
    "name" : "Alice",
    "age" : 21,
    "grades" : [88, 92, 79],
    "major" : "Computer Science"
}

#add new item with key "GPA"
student_data["GPA"] = 3.6
#update value
student_data.update ({
    "age" : 22
})

for x,y in student_data.items() :
  print(x, ':', y)

name : Alice
age : 22
grades : [88, 92, 79]
major : Computer Science
GPA : 3.6

**Task 3 : Creating a DataFrame**

In [35]:
import pandas as pd
data = {
    "Name" : ["Ahmad", "Balan", "Chong"],
    "Age" : [21, 22, 20],
    "Grade" : ["A", "B", "A"]
}

df = pd.DataFrame(data)
print(df)

    Name  Age Grade
0  Ahmad   21     A
1  Balan   22     B
2  Chong   20     A

**Task 4 : Accessing data**
* Print all grades
* Print the row for "Balan"
* Print the names of students with Grade A

In [38]:
import pandas as pd
data = {
    "Name" : ["Ahmad", "Balan", "Chong"],
    "Age" : [21, 22, 20],
    "Grade" : ["A", "B", "A"]
}

df = pd.DataFrame(data)
print(df)

print("\n- Print all grades")
column_grade = df["Grade"]
print(column_grade)

print("\n- Print the row for \"Balan\"")

print(df.loc[df["Name"] == "Balan"])

print("\n- Print the names of students with Grade \"A\"")
print(df.loc[df["Grade"] == "A"])

    Name  Age Grade
0  Ahmad   21     A
1  Balan   22     B
2  Chong   20     A

- Print all grades
0    A
1    B
2    A
Name: Grade, dtype: object

- Print the row for "Balan"
    Name  Age Grade
1  Balan   22     B

- Print the names of students with Grade "A"
    Name  Age Grade
0  Ahmad   21     A
2  Chong   20     A

**Task 5 : DataFrame**
* Create a DataFrame with 4 students : name, age, score
* Calculate average score
* Filter students with score > 80

In [39]:
import pandas as pd

students = {
    "Name" : ["Eala" , "Keys" , "Andreeva", "Rybakina"],
    "Age" : [17, 23, 19, 20],
    "Score" : [79, 84, 92, 78]
}

df = pd.DataFrame(students)
print(df)

print("\n- Calculate average score")
average_score = df["Score"].mean()
print(average_score)

print("\n- Filter students with score > 80")
above_80 = df[df["Score"] > 80]
print(above_80)

       Name  Age  Score
0      Eala   17     79
1      Keys   23     84
2  Andreeva   19     92
3  Rybakina   20     78

- Calculate average score
83.25

- Filter students with score > 80
       Name  Age  Score
1      Keys   23     84
2  Andreeva   19     92