<a href="https://colab.research.google.com/github/athirah02/python_lesson/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**33. min, max, sum with numbers in [list]**

In [ ]:
listNum = [1,2,3,4,5,6,7,8,9,10]
print(min(listNum))
print(max(listNum))
print(sum(listNum))

1
10
55

**34. slicing list**

In [ ]:
#[first element : last element]
#starts with 0 and up to before the mentioned index

OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
print(OS[0:5])
print(OS[:5])
print(OS[1:3])
print(OS[2:])

#(-) starts with -1 in the rightmost
print(OS[-3:])
print(OS[-4:-2])

['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Windows', 'Linux']
['Linux', 'Android', 'iOS']
['Linux', 'Android', 'iOS']
['Windows', 'Linux']

**35. loop with slicing list**

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[0:5]:
 print(OS)

Mac
Windows
Linux
Android
iOS

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[2:4]:
 print(OS)

Linux
Android

**36. copy list using slicing list**

In [ ]:
animals = ['tiger', 'otter', 'lion', 'panda', 'fox']
copy_animals = animals[:]
print(animals)
print(copy_animals)
copy_animals.append('whale')
print(copy_animals)
print(animals)

['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox', 'whale']
['tiger', 'otter', 'lion', 'panda', 'fox']

**37. (tuples)**

In [ ]:
tup = (200, 50)
print(tup)
#[] refers to element for the index
print(tup[0])
print(tup[1])

for tup in tup:
  print(tup)

#modify tuple with overwriting
tup =(1000, 250, 300)
print(tup)
print(tup[0])
print(tup[2])

(200, 50)
200
50
200
50
(1000, 250, 300)
1000
300

**38. if, else statements**

In [ ]:
x = 10
if x == 10:
  print('x is equal to 10')
else:
  print('x is not equal to 10')

x is not equal to 10

**39. equal, greater or less than operators**

In [ ]:
x = 1
y = 3
if x > y:
  print('Yes, x is bigger than y')
else:
  print('No, x is smaller than y')

No, x is smaller than y

**40. compare strings**

In [ ]:
name = 'Windows'
name2 = '11'
if name == name2:
  print('strings are equal')
else:
  print('strings are not equal')

strings are not equal

**41. using NOT equal with if, else statements**

In [ ]:
num = 5
num2 = 10

#if num != 5:
  #print('num is not equal to 5')

if num != num2:
  print('num is not equal to num2')
else:
  print('num is equal to num2')

num is not equal to num2

**42. using (and) with if, else statements**

In [ ]:
x = 10
y = 5
if(x >= y and x == y):
 print('true')
else:
  print('false')

false

**43. using (or) with if, else statements**

In [ ]:
x = 10
y = 5
if(x >= y or x == y):
 print('true')
else:
  print('false')

true

**44. check values in lists with if, else**

In [ ]:
list = ['kang', 'lee', 'jung']
if('kang' in list):
  print('yes, kang is in the list')
else:
  print('no, kang isnt in the list')

yes, kang is in the list

**45. check values NOT in list with if, else**

In [ ]:
list = ['kang', 'lee', 'jung']
if('xiao' not in list):
  print('yes, xiao isnt in the list')
else:
  print('no, xiao is in the list')

yes, xiao isnt in the list

**46. if-elif, else statements**

In [ ]:
salary = int(input('Enter your salary: '))

if(salary < 1000):
  amount = 200
  print('You will get RM ' + str(amount) + ' of bonus')

elif(salary == 1000):
  amount = 300
  print('You will get RM ' + str(amount) + ' of bonus')

else:
  print('Not eligible for bonus')

Enter your salary: 200
You will get RM 200 of bonus

**47. test multiple elif expressions**

In [ ]:
price = 120
person = int(input('Enter number of person : '))

if (person == 2):
  price = 120*2
  print('Total fee = ' + str(price))

elif (person == 3):
  extra = 1.2
  price = (120*3) + 1.2
  print('Total fee = ' + str(price))

elif (person == 4):
  extra = 1.5
  price = (120*4) + 1.5
  print('Total fee = ' + str(price))

elif (person >= 5):
  extra = 2
  price = (120*person) + 2
  print('Total fee = ' + str(price))

else:
  print('Total fee = ' + str(price))

Enter number of person : 8
Total fee = 962

**48. {dictionary} in python**

In [ ]:
dic = {'toyota': 'volvo', 'mercedes': 'bmw'}
print(dic['toyota'])
print(dic['mercedes'])
#can only mention left key, so print(dic['volvo']) is wrong

volvo
bmw

**49. add new value in dictionary**

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print(dic['volvo'])
print(dic['country'])

dic['color'] = 'vapor grey'
print(dic['color'])

s60
sweden
vapor grey

**50. filling empty dictionary**

In [ ]:
dic = {}
dic['state'] = 'illinois'
dic['city'] = 'chicago'
print(dic)

{'state': 'illinois', 'city': 'chicago'}

**51. edit a value in dictionary**

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print('before : ' + dic['volvo'])

dic['volvo'] = 'xc90'
print(dic)
print('after : ' + dic['volvo'])

before : s60
{'volvo': 'xc90', 'country': 'sweden'}
after : xc90

52. delete a key from dictionary

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print('before : ')
print(dic)

del dic['country']
print('after : ')
print(dic)

before :
{'volvo': 's60', 'country': 'sweden'}
after :
{'volvo': 's60'}

**53. using input() function**

In [ ]:
name = input('Enter your name?\n')
print('hi ' + name)

user = input() #let user input anything
print('thank you, ' + name)

Enter your name?
zhen
hi zhen
i'm good
thank you, zhen

**54. while loop**

In [ ]:
#looping as long as condition is true
x = 1
while (x <= 6):
  print(x)
  x += 1
  #x = x + 1

1
2
3
4
5
6

**55. using flag to stop looping**

In [ ]:
x = ''
character = 'Enter character :\n'

while(x != 'q'):
  x = input(character)

Enter character :
a
Enter character :
r
Enter character :
e
Enter character :
q

**56. infinite loop**

In [ ]:
#when condition never becomes false
x = 1
while(x == 1):
  name = input('Enter your name: ')
  print('Your name is : ' + name)

Enter your name: lee
Your name is : lee
Enter your name: kang
Your name is : kang
Enter your name: jung
Your name is : jung

**57. using break and continue with while loop**

In [ ]:
#break can be used to exit while loop
#continue is skip and return back to the beginning of the loop
x = 1
user = ' '
while(x <= 5):
  user = input('Enter your name : ')
  print('Hi, '+ user)
  if(user == 'kim'):
   break
  elif(user == 'huang')
   continue
  x+=1

**58. functions**

In [ ]:
#run when called
def function():
  print('hello')

print('this is main program')
function()

this is main program
hello

**59. arguments and parameters in functions**

In [ ]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)

names('carlos', 'alcaraz')

first_name : carlos
last_name : alcaraz

**60. multiple function call**

In [ ]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names('carlos', 'alcaraz')
names('madison', 'keys')
names('elena', 'rybakina')

first_name : carlos
last_name : alcaraz


first_name : madison
last_name : keys


first_name : elena
last_name : rybakina

**61. default values in fucntions**

In [ ]:
def names(first_name = 'carlos', last_name = 'alcaraz'):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names() #default
names(first_name = 'jack', last_name = 'draper')

first_name : carlos
last_name : alcaraz


first_name : jack
last_name : draper

**62. order matter in functions**

In [ ]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names('carlos', 'alcaraz')
names('madison', 'keys')

names(first_name = 'jack', last_name = 'draper')
names(first_name = 'elena', last_name = 'rybakina')

first_name : carlos
last_name : alcaraz


first_name : madison
last_name : keys


first_name : jack
last_name : draper


first_name : elena
last_name : rybakina

**63. return value in functions**

In [ ]:
def addition(a,b):
  total = a+b
  return total

print(addition(20,5))

25

**64. classes**

In [ ]:
#classes are blueprint not objects
#classes are blueprint not objects
#classes create object called instances

class Student:
 name = 'zhen'

 def function(self):
  print('hi ' + self.name)

student = Student() #create instance
student.function() #call method

hi zhen

**65. create a class**

In [ ]:
class Person():
  def insert(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

**66. create a class instance or object**

In [ ]:
class Person():
  def insert(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

j = Person()
j.insert('Holger' , '22' , '99234')
j.output()

your name is Holger, 22 years old. ID = 99234

**67. constructor __init__(self) function**

In [ ]:
#constructor is called whenever a new object of the class is created, should be called only during creating the object
class Person():
  def __init__(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

#use constructor create object kang
#ensure indentation out of the class
kang = Person('Kang','34','99234')
kang.output()

your name is Kang, 34 years old. ID = 99234

**68. accessing variables or functions of an object**

In [ ]:
#constructor is called whenever a new object of the class is created, should be called only during creating the object
class Person():
  def __init__(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

#use constructor create object kang
#ensure indentation out of the class
kang = Person('Kang','34','99234')

print(kang.name) #use . to access variable/function
print(kang.age)
print(kang.id)
print(kang.output())

Kang
34
99234
your name is Kang, 34 years old. ID = 99234
None

**69. create multiple instances of a class**

In [ ]:
class Person():
  def __init__(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

#make multiple instances of a class
k = Person('Kang', '34', '3234')
s = Person('Son', '42', '4533')
c = Person('Choi', '47', '9458')

k.output()
s.output()
c.output()

your name is Kang, 34 years old. ID = 3234
your name is Son, 42 years old. ID = 4533
your name is Choi, 47 years old. ID = 9458

**70. class inheritance**

In [ ]:
#to create class child(subclass)
class Person():
  def __init__(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)


class Child(Person):
  pass #meaning child will inherit all from parent

kid = Child('Andreeva', '17', '2456')
kid.output()

your name is Andreeva, 17 years old. ID = 2456

**71. more about inheritance**

In [ ]:
#to create class child(subclass)
class Person():
  def __init__(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self):
    print('your name is ' + self.name + ', ' + self.age + ' years old' + '. ID = ' + self.id)

class Man():
  def strong(self):
    print('Men are strong')

class Child(Person, Man):
  pass #meaning child will inherit all from parent

kid = Child('Andreeva', '17', '2456')
kid.output()

kid.strong()

your name is Andreeva, 17 years old. ID = 2456
Men are strong

**extract**

In [ ]:
text = 'PythonProgramming'
#P y t h o n P r o g  r  a  m  m  i  n  g
#0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16

#extract Python using slicing
print(text[0:6])

#extract Programming
print(text[6:17])

#extract every 2nd character
#start:end:step
print(text[::2])

#reverse list
print(text[::-1])

Python
Programming
PtoPormig
gnimmargorPnohtyP

**list slicing**

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
#10 20 30 40 50 60 70 80 90 100
# 0  1  2  3  4  5  6  7  8   9

#extract[30,40,50]
print(numbers[2:5])

#extract last 5 elements
print(numbers[-5:])

#extract alternate element
#start:end:step
print(numbers[::2])

#reverse list
print(numbers[::-1])

[30, 40, 50]
[60, 70, 80, 90, 100]
[10, 30, 50, 70, 90]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

**tuple slicing**

In [ ]:
tup = (5, 10, 15, 20, 25, 30, 35, 40)
#5 10 15 20 25 30 35 40
#0  1  2  3  4  5  6  7

#extract (15, 20, 25, 30)
print(tup[2:6])

#extract first 3 elements
print(tup[:3])

#extract every third element
print(tup[::3])

#reverse tuple
print(tup[::-1])

(15, 20, 25, 30)
(5, 10, 15)
(5, 20, 35)
(40, 35, 30, 25, 20, 15, 10, 5)

**#C3 P2**

**dictionary (class week 4)**

In [7]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [8]:
d = {'name' : 'athirah', 'age' : 22}
#print key
for x in d:
  print(x)

#print values
for x in d:
  print(d[x])

#use values()
for x in d.values():
  print(x)

#loop key and values
for x,y in d.items():
  print(x,y)

print('---')
print(len(d))

d['nationlity'] ='malaysian'
print(d)

del d['age']
print(d)

name
age
athirah
22
athirah
22
name athirah
age 22
---
2
{'name': 'athirah', 'age': 22, 'nationlity': 'malaysian'}
{'name': 'athirah', 'nationlity': 'malaysian'}

In [9]:
d ={'a' : 123, 'b' : 93, 'c' : 465}
max(d, key=d.get)
min(d, key=d.get)

'b'

**check if key exists in dictionary**

In [23]:
dict = {
  'brand' : 'volvo',
  'color' : 'grey',
  'model' : 's60'
}

if 'year' in dict:
  print('Yes')

else:
  print('No')

  print(len(dict))

print('\nadd new item')
dict['year'] = 2025
print(dict)

print('\nremove item')

#pop() removes the item with specified key name
dict.pop('model')
print(dict)

#del removes the item with specified key name
del dict['color']
print(dict)

print('\nempties the dictionary')
dict.clear()
print(dict)

No
3

add new item
{'brand': 'volvo', 'color': 'grey', 'model': 's60', 'year': 2025}

remove item
{'brand': 'volvo', 'color': 'grey', 'year': 2025}
{'brand': 'volvo', 'year': 2025}

empties the dictionary
{}

**nested dictionaries**

---


a dictionary contains many dictionaries

In [36]:
family = {
    'child1' : {
        'name' : 'carlos',
        'year' : 2003
    },
    'child2' : {
        'name' : 'sergio',
        'year' : 2005
    },
    'child3' : {
        'name' : 'jaime',
        'year' : 2007
    }
}

print(family)

print('\ncreate 3 dictionaries then create one dictionary that will contain the other three dictionaries')

son1 = {
    'name' : 'gussi',
    'year' : 1983
}

son2 = {
    'name' : 'nangam',
    'year' : 1985
}

son3 = {
    'name' : 'nakjoon',
    'year' : 1988
}

sons = {
    'first' : son1,
    'second' : son2,
    'third' : son3
}

print(sons)

print('\nremoves the last inserted key-value')
sons.popitem()
print(sons)

print('\nupdate dictionary with specified key-value')
sons.update({
    'second' : son3
})
print(sons)

print('\niterate over python dictionaries using for loops')
for x,y in sons.items():
  print(x,y)

print('\nadd new item to first')
son1['height'] = 183
print(sons)


print('\nadd new child to the nested dictionary')
son4 = {
    'name' : 'jiseop',
    'year' : 1990
}

sons['fourth'] = son4
print(sons)

{'child1': {'name': 'carlos', 'year': 2003}, 'child2': {'name': 'sergio', 'year': 2005}, 'child3': {'name': 'jaime', 'year': 2007}}

create 3 dictionaries then create one dictionary that will contain the other three dictionaries
{'first': {'name': 'gussi', 'year': 1983}, 'second': {'name': 'nangam', 'year': 1985}, 'third': {'name': 'nakjoon', 'year': 1988}}

removes the last inserted key-value
{'first': {'name': 'gussi', 'year': 1983}, 'second': {'name': 'nangam', 'year': 1985}}

update dictionary with specified key-value
{'first': {'name': 'gussi', 'year': 1983}, 'second': {'name': 'nakjoon', 'year': 1988}}

iterate over python dictionaries using for loops
first {'name': 'gussi', 'year': 1983}
second {'name': 'nakjoon', 'year': 1988}

add new item to first
{'first': {'name': 'gussi', 'year': 1983, 'height': 183}, 'second': {'name': 'nakjoon', 'year': 1988}}

add new child to the nested dictionary
{'first': {'name': 'gussi', 'year': 1983, 'height': 183}, 'second': {'name': 'nakjoon', 'year': 1988}, 'fourth': {'name': 'jiseop', 'year': 1990}}

**iterate over python dictionaries using for loops**

In [39]:
d = {
    'red' : 1,
    'green' : 2,
    'blue' : 3
}

for color_key, value in d.items():
  print(color_key, ' corresponds to ', d[color_key])

print('---')
for color_key, value in d.items():
  print(color_key, ' corresponds to ', value)

red  corresponds to  1
green  corresponds to  2
blue  corresponds to  3
---
red  corresponds to  1
green  corresponds to  2
blue  corresponds to  3

**sort a python dictionary by key**

In [41]:
colors = {
    'red' : '#FF000',
    'black' : '#00000',
    'white' : '#FFFFF'
}

for x in sorted(colors):
  print('%s: %s' % (x, colors[x]))

black: #00000
red: #FF000
white: #FFFFF

**find max and min value in dictionary**

In [44]:
numbers = {
    'x' : 2343,
    'y' : 112,
    'z' : 2
}

print(max(numbers, key = numbers.get))

print(min(numbers, key = numbers.get))

x
z

**concantenate 2 dictionaries into 1**

In [51]:
dic1 = {
    1 : 10,
    2 : 20
}

dic2 = {
    1 : 3,
    2 : 6
}

dic3 = {
    1 : 7,
    2 : 14
}

dic4 = {}

print('\nadd single dictionary to nested dictionary')
dics = {
    'first' : dic1,
    'second' : dic2,
    'third' : dic3
}

print(dics)

print('\ncombine single dictionaries into a new dictionary previously empty')
for d in (dic1, dic2, dic3) :
  dic4.update(d)
  print(dic4)

add single dictionary to nested dictionary
{'first': {1: 10, 2: 20}, 'second': {1: 3, 2: 6}, 'third': {1: 7, 2: 14}}

combine single dictionaries into a new dictionary previously empty
{1: 10, 2: 20}
{1: 3, 2: 6}
{1: 7, 2: 14}

**PandaFrames**

In [67]:
import pandas as pd

data = {
    'calories' : [420, 392, 100],
    'duration' : [20, 30, 40]
}

#load data into dataframe object
print('1) default row label')
df = pd.DataFrame(data)
print(df)

print('\n2) custom row label')
row_labels = ['no1', 'no2', 'no3']
df2 = pd.DataFrame(data = data, index = row_labels)
print(df2)

print('\n--------------------------')
print('3) head() show first few items')
print(df.head(n = 2))

print('\n4) tail() show last few items')
print(df.tail(n = 1))

print('\n5) assess a column')
new_data = df['calories']
print('new_data')

print('\n6) assess a row')
df.loc[1]

1) default row label
   calories  duration
0       420        20
1       392        30
2       100        40

2) custom row label
     calories  duration
no1       420        20
no2       392        30
no3       100        40

--------------------------
3) head() show first few items
   calories  duration
0       420        20
1       392        30

4) tail() show last few items
   calories  duration
2       100        40

5) assess a column
new_data

6) assess a row

calories    392
duration     30
Name: 1, dtype: int64

**page 31**

5. Write a python program to iterate over dictionaries using for loops and print the key/value pair

In [10]:
dict = {
  'brand' : 'volvo',
  'color' : 'grey',
  'model' : 's60'
}

for x, y in dict.items():
  print(x,y)

brand volvo
color grey
model s60

**page 32**
6. Write a python program to sum all the items in a dictionary

In [11]:
dict = {
    'a' : 1,
    'b' : 2,
    'c' : 10
}

total = sum(dict.values())
print('sum : ', total)

sum :  13

In [12]:
#use function

def sum_dict(d):
  return sum(d.values())

dict = {
    'a' : 1,
    'b' : 2,
    'c' : 10
}

total = sum_dict(dict)
print('sum : ', total)

sum :  13