<a href="https://colab.research.google.com/github/athirah02/python_lesson/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**33. min, max, sum with numbers in [list]**

In [ ]:
listNum = [1,2,3,4,5,6,7,8,9,10]
print(min(listNum))
print(max(listNum))
print(sum(listNum))

1
10
55

**34. slicing list**

In [ ]:
#[first element : last element]
#starts with 0 and up to before the mentioned index

OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
print(OS[0:5])
print(OS[:5])
print(OS[1:3])
print(OS[2:])

#(-) starts with -1 in the rightmost
print(OS[-3:])
print(OS[-4:-2])

['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Windows', 'Linux']
['Linux', 'Android', 'iOS']
['Linux', 'Android', 'iOS']
['Windows', 'Linux']

**35. loop with slicing list**

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[0:5]:
 print(OS)

Mac
Windows
Linux
Android
iOS

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[2:4]:
 print(OS)

Linux
Android

**36. copy list using slicing list**

In [ ]:
animals = ['tiger', 'otter', 'lion', 'panda', 'fox']
copy_animals = animals[:]
print(animals)
print(copy_animals)
copy_animals.append('whale')
print(copy_animals)
print(animals)

['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox', 'whale']
['tiger', 'otter', 'lion', 'panda', 'fox']

**37. (tuples)**

In [ ]:
tup = (200, 50)
print(tup)
#[] refers to element for the index
print(tup[0])
print(tup[1])

for tup in tup:
  print(tup)

#modify tuple with overwriting
tup =(1000, 250, 300)
print(tup)

(200, 50)
200
50
200
50
(1000, 250, 300)

**38. if, else statements**

In [ ]:
x = 10
if x == 10:
  print('x is equal to 10')
else:
  print('x is not equal to 10')

x is not equal to 10

**39. equal, greater or less than operators**

In [ ]:
x = 1
y = 3
if x > y:
  print('Yes, x is bigger than y')
else:
  print('No, x is smaller than y')

No, x is smaller than y

**40. compare strings**

In [2]:
name = 'Windows'
name2 = '11'
if name == name2:
  print('strings are equal')
else:
  print('strings are not equal')

strings are not equal