<a href="https://colab.research.google.com/github/athirah02/python_lesson/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**33. min, max, sum with numbers in [list]**

In [ ]:
listNum = [1,2,3,4,5,6,7,8,9,10]
print(min(listNum))
print(max(listNum))
print(sum(listNum))

1
10
55

**34. slicing list**

In [ ]:
#[first element : last element]
#starts with 0 and up to before the mentioned index

OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
print(OS[0:5])
print(OS[:5])
print(OS[1:3])
print(OS[2:])

#(-) starts with -1 in the rightmost
print(OS[-3:])
print(OS[-4:-2])

['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Mac', 'Windows', 'Linux', 'Android', 'iOS']
['Windows', 'Linux']
['Linux', 'Android', 'iOS']
['Linux', 'Android', 'iOS']
['Windows', 'Linux']

**35. loop with slicing list**

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[0:5]:
 print(OS)

Mac
Windows
Linux
Android
iOS

In [ ]:
OS = ['Mac', 'Windows', 'Linux', 'Android', 'iOS']
for OS in OS[2:4]:
 print(OS)

Linux
Android

**36. copy list using slicing list**

In [ ]:
animals = ['tiger', 'otter', 'lion', 'panda', 'fox']
copy_animals = animals[:]
print(animals)
print(copy_animals)
copy_animals.append('whale')
print(copy_animals)
print(animals)

['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox']
['tiger', 'otter', 'lion', 'panda', 'fox', 'whale']
['tiger', 'otter', 'lion', 'panda', 'fox']

**37. (tuples)**

In [ ]:
tup = (200, 50)
print(tup)
#[] refers to element for the index
print(tup[0])
print(tup[1])

for tup in tup:
  print(tup)

#modify tuple with overwriting
tup =(1000, 250, 300)
print(tup)

(200, 50)
200
50
200
50
(1000, 250, 300)

**38. if, else statements**

In [ ]:
x = 10
if x == 10:
  print('x is equal to 10')
else:
  print('x is not equal to 10')

x is not equal to 10

**39. equal, greater or less than operators**

In [ ]:
x = 1
y = 3
if x > y:
  print('Yes, x is bigger than y')
else:
  print('No, x is smaller than y')

No, x is smaller than y

**40. compare strings**

In [ ]:
name = 'Windows'
name2 = '11'
if name == name2:
  print('strings are equal')
else:
  print('strings are not equal')

strings are not equal

**41. using NOT equal with if, else statements**

In [ ]:
num = 5
num2 = 10

#if num != 5:
  #print('num is not equal to 5')

if num != num2:
  print('num is not equal to num2')
else:
  print('num is equal to num2')

num is not equal to num2

**42. using (and) with if, else statements**

In [ ]:
x = 10
y = 5
if(x >= y and x == y):
 print('true')
else:
  print('false')

false

**43. using (or) with if, else statements**

In [ ]:
x = 10
y = 5
if(x >= y or x == y):
 print('true')
else:
  print('false')

true

**44. check values in lists with if, else**

In [ ]:
list = ['kang', 'lee', 'jung']
if('kang' in list):
  print('yes, kang is in the list')
else:
  print('no, kang isnt in the list')

yes, kang is in the list

**45. check values NOT in list with if, else**

In [ ]:
list = ['kang', 'lee', 'jung']
if('xiao' not in list):
  print('yes, xiao isnt in the list')
else:
  print('no, xiao is in the list')

yes, xiao isnt in the list

**46. if-elif, else statements**

In [ ]:
salary = int(input('Enter your salary: '))

if(salary < 1000):
  amount = 200
  print('You will get RM ' + str(amount) + ' of bonus')

elif(salary == 1000):
  amount = 300
  print('You will get RM ' + str(amount) + ' of bonus')

else:
  print('Not eligible for bonus')

Enter your salary: 200
You will get RM 200 of bonus

**47. test multiple elif expressions**

In [ ]:
price = 120
person = int(input('Enter number of person : '))

if (person == 2):
  price = 120*2
  print('Total fee = ' + str(price))

elif (person == 3):
  extra = 1.2
  price = (120*3) + 1.2
  print('Total fee = ' + str(price))

elif (person == 4):
  extra = 1.5
  price = (120*4) + 1.5
  print('Total fee = ' + str(price))

elif (person >= 5):
  extra = 2
  price = (120*person) + 2
  print('Total fee = ' + str(price))

else:
  print('Total fee = ' + str(price))

Enter number of person : 8
Total fee = 962

**48. {dictionary} in python**

In [ ]:
dic = {'toyota': 'volvo', 'mercedes': 'bmw'}
print(dic['toyota'])
print(dic['mercedes'])
#can only mention left key, so print(dic['volvo']) is wrong

volvo
bmw

**49. add new value in dictionary**

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print(dic['volvo'])
print(dic['country'])

dic['color'] = 'vapor grey'
print(dic['color'])

s60
sweden
vapor grey

**50. filling empty dictionary**

In [ ]:
dic = {}
dic['state'] = 'illinois'
dic['city'] = 'chicago'
print(dic)

{'state': 'illinois', 'city': 'chicago'}

**51. edit a value in dictionary**

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print('before : ' + dic['volvo'])

dic['volvo'] = 'xc90'
print(dic)
print('after : ' + dic['volvo'])

before : s60
{'volvo': 'xc90', 'country': 'sweden'}
after : xc90

52. delete a key from dictionary

In [ ]:
dic = {'volvo': 's60', 'country': 'sweden'}
print('before : ')
print(dic)

del dic['country']
print('after : ')
print(dic)

before :
{'volvo': 's60', 'country': 'sweden'}
after :
{'volvo': 's60'}

**53. using input() function**

In [ ]:
name = input('Enter your name?\n')
print('hi ' + name)

user = input() #let user input anything
print('thank you, ' + name)

Enter your name?
zhen
hi zhen
i'm good
thank you, zhen

**54. while loop**

In [ ]:
#looping as long as condition is true
x = 1
while (x <= 6):
  print(x)
  x += 1
  #x = x + 1

1
2
3
4
5
6

**55. using flag to stop looping**

In [ ]:
x = ''
character = 'Enter character :\n'

while(x != 'q'):
  x = input(character)

Enter character :
a
Enter character :
r
Enter character :
e
Enter character :
q

**56. infinite loop**

In [ ]:
#when condition never becomes false
x = 1
while(x == 1):
  name = input('Enter your name: ')
  print('Your name is : ' + name)

Enter your name: lee
Your name is : lee
Enter your name: kang
Your name is : kang
Enter your name: jung
Your name is : jung

**57. using break and continue with while loop**

In [ ]:
#break can be used to exit while loop
#continue is skip and return back to the beginning of the loop
x = 1
user = ' '
while(x <= 5):
  user = input('Enter your name : ')
  print('Hi, '+ user)
  if(user == 'kim'):
   break
  elif(user == 'huang')
   continue
  x+=1

**58. functions**

In [1]:
#run when called
def function():
  print('hello')

print('this is main program')
function()

this is main program
hello

**59. arguments and parameters in functions**

In [3]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)

names('carlos', 'alcaraz')

first_name : carlos
last_name : alcaraz

**60. multiple function call**

In [17]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names('carlos', 'alcaraz')
names('madison', 'keys')
names('elena', 'rybakina')

first_name : carlos
last_name : alcaraz


first_name : madison
last_name : keys


first_name : elena
last_name : rybakina

**61. default values in fucntions**

In [20]:
def names(first_name = 'carlos', last_name = 'alcaraz'):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names() #default
names(first_name = 'jack', last_name = 'draper')

first_name : carlos
last_name : alcaraz


first_name : jack
last_name : draper

**62. order matter in functions**

In [21]:
def names(first_name, last_name):
  print('first_name : ' + first_name)
  print('last_name : ' + last_name)
  print('\n')

names('carlos', 'alcaraz')
names('madison', 'keys')

names(first_name = 'jack', last_name = 'draper')
names(first_name = 'elena', last_name = 'rybakina')

first_name : carlos
last_name : alcaraz


first_name : madison
last_name : keys


first_name : jack
last_name : draper


first_name : elena
last_name : rybakina

**63. return value in functions**

In [22]:
def addition(a,b):
  total = a+b
  return total

print(addition(20,5))

25

**64. classes**

In [31]:
#classes are blueprint not objects
#classes are blueprint not objects
#classes create object called instances

class Student:
 name = 'zhen'

 def function(self):
  print('hi ' + self.name)

student = Student() #create instance
student.function() #call method

hi zhen

**65. create a class**

In [ ]:
class Person():
  def insert(self, name, age, id):
    self.name = name
    self.age = age
    self.id = id

  def output(self)